* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.subConteiner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.boton{
    background-color: #E0C7FF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    height: 50px;
    width: 170px;
    font-size: 1.5em;
}

.contador-tiempo{
    background-color: #E0C7FF;
    height: 50px;
    width: 80%;
    border-radius: 15px;
    justify-content: space-evenly;
}

.contador-tiempo p{
    font-size: 1.5em;
    color: #ffffff;
    text-align: center;
}

.palabrasBox{
    width: 100%;
    justify-content: space-evenly;
}
.palabraActual{
    background-color: #E0C7FF;
    height: 200px;
    width: 45%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.palabraSiguiente{
    background-color: #E0C7FF;
    height: 150px;
    width: 25%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.palabraActual input{
    border: none;
    border-radius: 15px;
    height: 35px;
    width: 80%;
    margin: 5px
}

.palabraSiguiente div p{
    font-size: 1.2em;
    color: #ffffff;

}

.palabras{
    font-size: 2em;
    color: #ffffff;
}